#Home > main {
  /* styled at Home.jsx in:
  - scrollToFoodItem()
  - scrollToFoodItem() 
  */
}

.banner img {
  transition: transform .5s linear;
}
  
.banner img.active {
  transform: translateY(0px);
}

.promotion {
  transform: translateX(-500px);
  transition: transform .5s linear
}

.promotion.active {
  transform: translateX(0px);
}

.img {
  animation: slideIn 0.7s ease-in-out forwards;
}

@keyframes expandFullWidth {
  from {width: 0%;}
  to {width: 100%;}
}
.item .details {
  animation-name: expandFullWidth;
  animation-duration: 1s;
  font-family: 'montserrat', sans-serif;
}

.item > button > img {
  transition: transform .2s;
}
.item > button > img:hover,
.item > button:active > img,
.item > button:focus-visible > img {
  transform: scale(1.5);
}
.item:has(>.details) > button > img {
  transform: scale(1);
}
.item:has(>.details) > button {
  background-color: white;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.item:has(>button:hover),
.item:has(>button:active),
.item:has(>button:focus-visible) {
  z-index: 1;
}